# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

.vscode/
.env
.encryptedKey
broadcast/

node_modules
package-lock.json

.DS_Store
src/.DS_Store
